<h1>Editing Delivery Truck</h1>

<%= render 'form', delivery_truck: @delivery_truck %>


<i class= "btn btn-primary"><%= link_to 'Show', @delivery_truck %></i>
<i class= "btn btn-primary"><%= link_to 'Back', 'javascript:history.go(-1);' %></i>