
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <br/><br/><br/><br/>
		<div class="well shadow">	
			<h1 class="centerfy">New Vehicle</h1>
			<br />
			<%= render 'form', vehicle: @vehicle %> <br>
		</div>
	</div>
</div>
<br />
<br />